<div
  [style.background]="'url(assets//images/winners.jpg)'"
  class="game-page-container"
>
  <table mat-table [dataSource]="games" class="mat-elevation-z8">
    <ng-container matColumnDef="Away Team">
      <th mat-header-cell *matHeaderCellDef>Away Team</th>
      <td mat-cell *matCellDef="let element">{{ element['Away Team'] }}</td>
    </ng-container>

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.Date }}</td>
    </ng-container>

    <ng-container matColumnDef="Group">
      <th mat-header-cell *matHeaderCellDef>Group</th>
      <td mat-cell *matCellDef="let element">{{ element.Group }}</td>
    </ng-container>

    <ng-container matColumnDef="Home Team">
      <th mat-header-cell *matHeaderCellDef>Home Team</th>
      <td mat-cell *matCellDef="let element">{{ element['Home Team'] }}</td>
    </ng-container>

    <ng-container matColumnDef="Round Number">
      <th mat-header-cell *matHeaderCellDef>Round Number</th>
      <td mat-cell *matCellDef="let element">{{ element['Round Number'] }}</td>
    </ng-container>

    <ng-container matColumnDef="Result">
      <th mat-header-cell *matHeaderCellDef>Result</th>
      <td mat-cell *matCellDef="let element">{{ element.Result }}</td>
    </ng-container>

    <ng-container matColumnDef="Stadium">
      <th mat-header-cell *matHeaderCellDef>Stadium</th>
      <td mat-cell *matCellDef="let element">{{ element.Stadium }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="openDialog(row)"
    ></tr>
  </table>
</div>
